* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fffaf5;
    color: #333;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: #7b1e1e;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.logo {
    color: #f5c16c;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.cart-btn {
    background: #f5c16c;
    padding: 6px 12px;
    color: #7b1e1e;
    border-radius: 5px;
}
.section-title {
    font-size: 26px;
    margin-bottom: 30px;
    color: #7b1e1e;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

/* Product Card */
.product-card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h4 {
    margin: 15px 0 8px;
    font-size: 18px;
}

.product-card p {
    font-size: 14px;
    margin-bottom: 15px;
}

.product-card span {
    color: red;
    font-weight: bold;
}

/* Button */
.product-card button {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background-color: #e63900;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #b72c00;
}


.hero {
     height: 400px;
  background-image:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../images/banner-image.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 60px;
  

}

.hero input {
    margin-top: 20px;
    padding: 10px;
    width: 60%;
}

.section {
    padding: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card button {
    margin-top: 10px;
    padding: 8px;
    background-color: #7b1e1e;
    color: white;
    border: none;
    cursor: pointer;
}

.checkout {
    padding: 12px 20px;
    background-color: #7b1e1e;
    color: white;
    border: none;
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 300px;
    margin: 10px 0;
    padding: 10px;
}

footer {
    background: #7b1e1e;
    color: white;
    text-align: center;
    padding: 10px;
}
